@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div>
        <input type="submit" value="Novo" asp-controller="dados" asp-action="Create" />
        <input type="submit" value="Editar" asp-controller="dados" asp-action="Edit" />
    </div>
        
    
    
</form>